* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: var(--main-color);
}
body {
  background: linear-gradient(to bottom, #0d81fd15, #0d81fd06);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html{
  scroll-behavior: smooth;
}
:root {
  --dark-color: #19283f;
  --light-color: #ffffff;
  --main-color: #0d83fd;
  /* --main-color: #3d464d; */
}
#loader {
  position: fixed;
  inset: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transition: opacity 1s ease;
}

#loader.bg-hidden {
  opacity: 0;
  pointer-events: none;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
  transition: opacity 1s ease;
}

.spinner.hidden {
  opacity: 0;
}
.fade-in {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 1s ease 0.5s, transform 1s ease 0.5s;
  will-change: opacity, transform;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0px);
}

.fade-in-left {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease 0.5s, transform 1s ease 0.5s;
  will-change: opacity, transform;
}

.fade-in-left.visible {
  opacity: 1;
  transform: translateY(0px);
}

/* navbar */
.lang {
  display: inline-block;
  background-color: var(--main-color);
  color: #ffffff;
  margin: 5px;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  font-size: 16px;
  /* clip-path: polygon(30% 0%, 70% 0%, 100% 50%, 70% 100%, 30% 100%, 0% 50%); */
  /* clip-path: polygon(20% 5%, 80% 5%, 100% 30%, 100% 70%, 80% 95%, 20% 95%, 0% 70%, 0% 30%); */
  clip-path: polygon(
    30% 5%,
    70% 5%,
    90% 30%,
    90% 70%,
    70% 95%,
    30% 95%,
    10% 70%,
    10% 30%
  );
  /* clip-path: polygon(30% 5%, 70% 5%, 95% 30%, 95% 70%, 70% 95%, 30% 95%, 5% 70%, 5% 30%); */
  width: 50px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border-radius: 45%;
  transition: all 0.3s;
}
.lang:hover {
  color: var(--dark-color);
}
#navbar {
  width: 100%;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.3s ease;
}
.navbar {
  transition: all 0.5s ease;
}
.navbar .navbar-brand img{
  object-fit:cover;
}
#navbar.scrolled {
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 6px 20px 14px #0d83fd40;
}
#navbar.scrolled .navbar-nav .nav-link {
  color: #000;
}
#navbar.scrolled .navbar-toggler {
  color: var(--dark-color);
}
.navbar.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 15px;
}
.navbar.active ul li {
  padding: 10px;
  text-align: center;
}
.navbar.active ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  display: block;
}
.navbar.active ul li a:hover {
  background-color: #ddd;
}
.navbar .navbar-nav .nav-link {
  color: var(--light-color);
  transition: all 0.3s;
  padding: 0.7rem 1rem 0.7rem 1rem;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  color: var(--light-color) !important;
  transform: scale(1.03);
  background-color: var(--main-color);
  /* clip-path: polygon(30% 0%, 70% 0%, 100% 50%, 70% 100%, 30% 100%, 0% 50%); */
  clip-path: polygon(
    20% 5%,
    80% 5%,
    100% 30%,
    100% 70%,
    80% 95%,
    20% 95%,
    0% 70%,
    0% 30%
  );
  /* clip-path: polygon(30% 5%, 70% 5%, 90% 30%, 90% 70%, 70% 95%, 30% 95%, 10% 70%, 10% 30%); */
  /* clip-path: polygon(30% 5%, 70% 5%, 95% 30%, 95% 70%, 70% 95%, 30% 95%, 5% 70%, 5% 30%); */

  width: fit-content;
  height: fit-content;
  border-radius: 35%;
}
.navbar-brand img {
  width: 160px!important;
  height: 55px!important;
}
.navbar .navbar-toggler {
  color: var(--light-color);
  border-color: var(--light-color);
  border: solid 2px;
  font-size: 25px;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border: none;
}

@media (max-width: 998px) {
  .navbar .navbar-nav .nav-link.active,
  .navbar .navbar-nav .nav-link:hover {
    width: 100%;
    clip-path: none;
    border-radius: 0;
    margin-bottom: 5px;
  }
  .lang {
    margin-left: 1rem !important;
  }
  .navbar .navbar-nav .nav-link {
    color: var(--dark-color);
  }
  #navbar {
    transition: background-color 0.3s ease;
  }
  .navbar-collapse {
    background: rgba(255, 255, 255, 0.8)!important;
  }
}

@media (max-width: 798px) {
  #navbar {
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
  }
  .navbar-toggler {
    font-size: 28px;
  }
  .navbar-nav .nav-link {
    padding: 12px 20px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  #navbar {
    padding: 10px 0;
  }
  .navbar-nav .nav-link {
    font-size: 16px;
    padding: 10px 15px;
  }
  .lang {
    font-size: 14px;
    height: 35px;
    line-height: 33px;
    width: 40px;
  }
}
/* navbar */

/* #########################################################*/
/* section two */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.8);
}
.hero:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
}
.hero .container {
  position: relative;
  z-index: 2;
  padding: 0 15px;
}
.hero h2 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  color: var(--light-color);
  text-align: center;
}
.hero h2 span {
  color: var(--main-color);
}
.hero p {
  margin: 10px 0 0 0;
  font-size: 18px;
  color: color-mix(in srgb, var(--light-color), transparent 20%);
  text-align: center;
}
.hero .icon-box {
  padding: 15px;
  transition: ease-in-out 0.3s;
  border: 1px solid color-mix(in srgb, var(--light-color), transparent 70%);
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .icon-box i {
  font-size: 40px;
  margin-bottom: 15px;
  object-fit: contain;
}
svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
  font-size: 30px;
  cursor: pointer;
}
.hero .icon-box h3 {
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
}
.hero .icon-box h3 a {
  color: color-mix(in srgb, var(--light-color), transparent 20%);
  transition: ease-in-out 0.3s;
  text-decoration: none;
}
.hero .icon-box:hover {
  border-color: var(--main-color);
}
.hero .icon-box:hover h3 a {
  color: var(--main-color);
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  height: auto;
  max-width: 100%;
}
.row > * {
  flex-shrink: unset !important;
  width: auto !important;
  max-width: 80% !important;
}
/* .icons {
  text-align: center;
  color: var(--main-color);
  margin: 20px 20px 0px 20px;
}
.icons a {
  font-size: 30px;
  transition: all 0.3s ease;
}
.icons a:nth-child(1):hover {
  color: #1877f2;
}
.icons a:nth-child(2):hover {
  color: #0070AD;
}
.icons a:nth-child(3):hover {
  color: #1da1f2;
}
.icons a:nth-child(4):hover {
  color: #25f876;
}
.icons a:nth-child(5):hover {
  color: #ffffff;
} */


@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }
  .hero p {
    font-size: 15px;
  }
  .hero .row {
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero .icon-box {
    padding: 7px;
  }
  /* .icons i {
    font-size: 25px;
    margin: 0 10px;
  } */
  .hero .icon-box h3{
    font-size: 17px!important;
  }
}

@media (max-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
    height: auto;
  }
}
@media (max-width: 530px) {
  .row .one:nth-child(1) {
    order: 0;
  }
  .row .two:nth-child(2) {
    order: 2;
  }
  .row .three:nth-child(3) {
    order: 1;
  }
}

@media (max-width: 480px) {
  .hero h2 {
    font-size: 28px;
  }
  .hero p {
    font-size: 14px;
  }
  /* .icons i {
    font-size: 20px;
    margin: 0 8px;
  } */
}
/* section two */

/* #########################################################*/
/* About Us */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.about-us .info-box h1 {
  font-size: 36px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
  font-style: italic;
}
.about-us .info-box h3 {
  font-weight: bold;
}
.about-us .info-box p {
  color: #666;
  line-height: 1.6;
  font-size: 17px;
  margin: 0;
}
.about-us .image-box {
  flex: 1;
  text-align: center;
}
.about-us .image-box img {
  width: 500px;
  border-radius: 30px;
}
.about-us .info-box {
  flex: 1;
  padding: 30px;
}

@media (max-width: 997px) {
  .about-us {
    display: block;
    text-align: center;
  }
  .about-us .info-box {
    padding: 0;
  }
  .about-us .info-box h3 {
    font-size: 20px;
  }
  .about-us .image-box img {
    width: 500px;
    margin-top: 10px;
  }
}

@media (max-width: 798px) {
  .about-us .image-box img {
    width: 335px;
  }
}
/* About Us */

/* #########################################################*/
/* Services */
.service-card {
  width: 340px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #268efd;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
/* .service-card h4, .service-card p {
  margin-bottom: 15px;
} */
.service-card p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.all-cards {
  margin: auto;
  margin-bottom: 20px;
}
.service-card:hover{
transform: scale(1.02);
}
.service-card h4{
  font-size: 23px;
  transition: color 0.3s ease-in-out;
}
.service-card:hover h4{
  color: var(--main-color);
}
body[dir="ltr"] .row > .col-lg-4:nth-of-type(6) .service-card h4{
  font-size: 22px;
}
.service-card .arrow img{
  transition: transform 0.3s ease-in-out;
}
.service-card:hover .arrow img{
  transform: rotate(45deg);
}
.services h1 {
  color: var(--main-color);
  font-style: italic;
}
.services .read-more i {
  color: var(--main-color);
}
.service-card .info-p{
  color: var(--main-color);
}
.read-more {
  border: none;
  background: none;
  color: var(--main-color);
  padding: 10px 15px;
  font-size: 18px;
  transition:all 0.3s;
}
.service-card:hover .read-more{
  color: #2e95fb;
  font-size: 20px;
  font-weight: bold;
}

.services .service-card{
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.services .service-card::before{
  content: attr(data-work);
  position: absolute;
  background-color: #F0F7FF;
  color: var(--light-color);
  width: calc(85%);
  height: calc(80%);
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 15px;
  text-align: start;
  transition:all 0.7s;
  transform: translateX(calc(-100% - 5px));
  white-space: pre-wrap;
  z-index: 100;
}
.services .service-card:hover::before{
  transform: translateY(0);
  background-color: #0d81fdb8;
}

@media (min-width: 1200px) {
.service-card{
  width: 320px!important;
  height: 340px!important;
}
}
@media (max-width: 991px) {
.service-card{
  width: 300px!important;
  height: 320px!important;
}
.service-card .Show{
  margin-top: -8px!important;
}
.service-card h4{
  font-size: 19px;
}
.services .service-card::before{
  font-size: 0.8rem;
}
body[dir="ltr"] .row > .col-lg-4:nth-of-type(6) .service-card h4{
  font-size: 19px;
}
}
@media (max-width: 486px) {
.service-card{
  width: 280px!important;
  height: 300px!important;
}
}
.row > .all-cards{
    padding-left: 0px!important;
}
body[dir="rtl"] .row > .all-cards{
    padding-right: 0px!important;
}
/* Services */

/* #########################################################*/
/* section three */
.vision-message {
  background: linear-gradient(to bottom, #0d81fd1b, #ffffff);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 100%;
}
.Our .row {
  display: flex;
  flex-wrap: nowrap !important;
}
.vision-message img {
  width: 60px;
  margin-bottom: 15px;
}
.values-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 15px;
  cursor: default;
}
.value-card {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.5s ease,
    background-color 0.5s ease;
}
.value-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #0d83fd;
  color: var(--light-color);
}
.values {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #0d81fd1b, #ffffff, #ffffff);
  padding: 30px;
}
.value-card h5 {
  font-size: 17px;
}
.value-icon {
  font-size: 2rem;
}
.section-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .Our .row {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .vision-message {
    width: 100%;
    margin: 10px 0;
  }
}
/* section three */

/* #########################################################*/
/* section four */
.card {
  border: none;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px !important;
  height: 100%;
  overflow: hidden;
}
.card:hover {
  transform: scale(1.03);
}
.card img {
  width: 100%;
  height: 360px;
  object-fit:cover;
  border-radius: 10px;
  cursor: pointer;
}
.Portfolio h1 {
  color: var(--main-color);
  font-style: italic;
}
.card p {
  color: #666;
  font-style: italic;
}
.card .badge:hover {
  transition: all 0.3s;
  background-color: var(--main-color) !important;
  color: var(--light-color);
}
.card h4 {
  transition: color 0.4s ease-in-out;
}
.card:hover h4 {
  color: var(--main-color);
}
/* ######################## */
.btn-custom {
  background-color: var(--main-color) !important;
  color: white !important;
  padding: 15px !important;
  width: 110px;
  height: 50px;
  /* padding-bottom: 100px; */
  border-radius: 20px;
  clip-path: polygon(
    30% 5%,
    70% 5%,
    90% 30%,
    90% 70%,
    70% 95%,
    30% 95%,
    10% 70%,
    10% 30%
  );
  transition: all 0.4s ease-in-out !important;
}
.btn-custom:hover {
  transform: scale(1.05);
  width: 130px;
  text-align: start;
}
body[dir="rtl"] .btn-custom:hover {
  transform: scale(1.05);
  width: 130px;
  padding-top: 5px!important;
  text-align: end!important;
}
.btn-custom::after {
  content: "→";
  position: absolute;
  right: 20px;
  top: 45%;
  font-size: 30px;
  transform: translateY(-50%) scale(0);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.5s ease rotate 1.5s ease;
}
.btn-custom:hover::after {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}
body[dir="rtl"] .slider-wrapper .btn-custom:hover {
  width: 130px;
  padding-top: 5px!important;
  text-align: start!important;
}
/* ######################## */
.equal-height {
  display: flex;
  flex-wrap: wrap;
}
.equal-height > div {
  display: flex;
  flex: 1;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .equal-height {
    flex-wrap: wrap;
  }

  .equal-height > div {
    flex: 1 1 48%;
    margin: auto;
    margin-bottom: 20px;
  }
  .card .badge {
    margin-bottom: 10px;
  }
}

@media (max-width: 786px) {
  .equal-height > div {
    flex: 1 1 55%;
  }
}

@media (max-width: 576px) {
  .equal-height > div {
    flex: 1 1 100%;
  }

  .Portfolio h2 {
    font-size: 1.3em;
  }

  .card img {
    height: 200px;
  }
}
/* section four */

/* #########################################################*/
/* section five */
.testimonials-section h1 {
  color: var(--main-color);
  font-style: italic;
}
.testimonials-section .testimonial {
  user-select: none;
  /* padding: 10px !important; */
  /* cursor: pointer; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 20px;
  background-color: var(--light-color);
  /* border: solid 1px var(--main-color); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.testimonials-section .testimonial .user-image {
  width: 340px;
  height: 360px;
  margin-bottom: 15px;
  margin-top: 15px;
  object-fit: cover;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 20px;
  box-sizing: border-box;
}
.testimonials-section .testimonial .name {
  margin-bottom: 15px;
  font-size: 23.4px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: color 0.4s ease-in-out;
}
.testimonials-section .testimonial:hover .name {
  color: var(--main-color);
}
.testimonials-section .testimonial .feedback {
  line-height: 20px;
  font-style: italic;
  color: #666;
  margin-bottom: 10px;
}
.testimonials-section .testimonial:hover {
  transform: translateY(10px);
  opacity: 1.2;
}
.testimonials-section .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background: var(--main-color);
}
.testimonials-section .swiper-slide-button {
  color: var(--main-color);
  transition: 0.2s ease;
}
.testimonials-section .swiper-slide-button:hover {
  color: var(--main-color);
}
.testimonials-section ul {
  padding-left: 0rem !important;
}
.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease;
}
.swiper-slide {
  transition: transform 0.3s ease;
  transform-origin: center;
}
.testimonials-section .swiper-pagination {
  margin-top: 30px;
  position: relative;
}

@media (max-width: 480px) {
  .testimonials-section .testimonial .user-image {
    width: 390px !important;
    height: 270px !important;
    max-width: 100% !important;
  }
  .testimonials-section .testimonial .name {
    font-size: 1rem;
  }
  .testimonials-section .testimonial .feedback {
    line-height: 15px;
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .testimonials-section .testimonial .user-image {
    width: 200px;
    height: 220px;
    max-width: 100% !important;
  }
}

@media (max-width: 1200px) {
  .testimonials-section .testimonial .user-image {
    width: 290px;
    height: 310px;
  }
}
/* section five */

/* #########################################################*/
/* contact */
.contact-container {
  max-width: 1100px;
  margin: 0px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 30px;
}
.container h1 {
  color: var(--main-color);
  font-weight: bold;
}
.contact-form {
  background: var(--main-color);
  padding: 20px;
  border-radius: 10px;
  color: white;
  flex: 1;
}
.contact-form input,
.contact-form textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.contact-form input:focus,
.contact-form textarea:focus {
  background: transparent;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid white;
}
.send-btn {
  background: white;
  color: var(--main-color);
  border: none;
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: bold;
}
.send-btn:hover {
  background: #f0f0f0;
}
.contact-info {
  flex: 1;
}
.contact-info .p-one {
  font-size: 18px;
  font-style: italic;
}
.contact-info a {
  display: flex;
  align-items: center;
  color: var(--main-color);
  font-size: 18px;
  text-decoration: none;
}

.contact-info a i {
  margin-left: 10px;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.contact-info a:hover i {
  transform: scale(1.2);
}
.contact-container form textarea:focus::placeholder,
.contact-container form input:not([type="submit"]):focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    gap: 5px;
  }

  .contact-info {
    margin-top: 20px;
  }
}

@media (max-width: 539px) {
  .contact-form .row .col {
    width: 100%;
    margin-bottom: 15px;
    display: contents;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .send-btn {
    width: 100%;
    padding: 15px 20px;
  }
}
/* contact */

/* ########################################################################## */
/* tape */
.tabe-container {
  width: 100%;
  height: 50px;
  background-color: var(--main-color);
  animation: bg-color 3s ease infinite;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 10px 0;
}
.tabe-content {
  display: flex;
  white-space: nowrap;
  animation: tabe 15s linear infinite;
  width: max-content;
}

@keyframes tabe {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

body[dir="rtl"] .tabe-content {
  animation: tabe2 12s infinite linear;
}

@keyframes tabe2 {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes bg-color {
  0% {
    background-color: var(--main-color);
  }
  50% {
    background-color: #3193fce7;
  }
  100% {
    background-color: var(--main-color);
  }
}.tabe-content span {
  display: inline-block;
  padding: 0 15px;
  color: var(--light-color);
  font-size: 18px;
  font-weight: bold;
}
.tabe-content span::after {
  content: " ✨ ";
  color: white;
  margin-left: 20px;
}
/* tape */

/* ########################################################################## */
/* footer */
.footer {
  /* background-color: #2d3538; */
  /* background-color: #13193b; */
  background-color: #0d81fd15;
}
.footer .copyright > span {
  color: var(--main-color)!important;
}
.footer .copyright div span {
  color: var(--main-color)!important;
}
.footer .copyright .blue-text {
  color: blue !important;
}
.footer .copyright {
  width: fit-content;
  margin: auto;
}
.footer .contact ul svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.footer .row{
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}
.footer .row ul a {
  text-decoration: none!important;
}
.footer .p1-foo {
  width: 280px;
  font-style: italic;
}
.lh-lg {
  width: 250px;
  font-style: italic;
}
/* .footer .facebook {
  background-color: #1877f2;
}
.footer .twitter {
  background-color: #1da1f2;
}
.footer .linkedin {
  background-color: #0a66c2;
}
.footer .WhatsApp {
  background-color: #25d366;
}
.footer .githup {
  background-color: #000;
} */
.footer .info img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 10px;
}
.footer .main-btn {
  background-color: var(--main-color)!important;
  color: var(--light-color)!important;
  padding: 0.5rem 1rem!important;
  border: 1px solid var(--light-color)!important;
}
.footer .main-btn:hover {
  color: var(--Light-color)!important;
}

@media (max-width: 1200px) {
  .lh-lg {
    width: 170px;
  }
}

@media (max-width: 991px) {
  .lh-lg {
    width: 280px;
  }
  .footer .info img {
    max-width: 120px;
  }
  .p1-foo {
    width: 100%;
  }
  .footer .contact ul {
    justify-content: center;
  }
  .footer .contact ul i {
    font-size: 18px;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer .col-md-6 {
    width: 48%;
    margin-bottom: 20px;
  }
  .footer .contact ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .footer .contact ul i {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .lh-lg {
    width: 250px;
  }
  .footer .info img {
    max-width: 140px;
  }
  .footer .row{
    justify-content: center!important;
  }
  .footer .contact ul {
    justify-content: center;
  }
  .footer .contact ul i {
    font-size: 18px;
  }
  .footer .container {
    display: flex!important;
    flex-wrap: wrap!important;
    justify-content: space-between!important;
  }
  .footer .col-md-6 {
    width: 48%;
    margin-bottom: 20px;
  }
  .footer .contact ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .footer .contact ul i {
    font-size: 18px;
  }
}
/* footer */

/* #################################################################### */
/* Scroll Up */
.up {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transform: scale(0);
  transition: 0.3s ease;
  cursor: pointer;
  z-index: 999999;
}
.up img {
  width: 30px;
  height: auto;
}
.up:hover {
  bottom: 35px;
  transform: scale(1.1);
}
.up.show {
  transform: scale(1);
}
@media (max-width: 768px) {
  .up {
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 480px) {
  .up {
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
  }
}

/* #################################################################### */
/* whatsapp */
.whatsapp {
  width: 50px;
  height: 50px;
  padding: 5px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50% 50% 50%;
  background-color: #25D366;
  cursor: pointer;
  z-index: 9999;
  transition: transform 0.3s ease, bottom 0.3s ease;
}
.whatsapp img {
  width: 25px;
  height: auto;
  transition: all 0.5s;
}
.whatsapp:hover img {
  transform: rotate(360deg);
}
.whatsapp:hover {
  bottom: 35px;
}
@media (max-width: 768px) {
  .whatsapp {
    bottom: 20px;
    left: 20px;
    width: 45px;
    height: 45px;
  }
  .whatsapp img {
  width: 20px;
}
}
@media (max-width: 480px) {
  .whatsapp {
    bottom: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
  }
}
/* #################################################################### */
/* phone */
.phone {
  width: 50px;
  height: 50px;
  padding: 5px;
  position: fixed;
  bottom: 90px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50% 50% 50%;
  color: var(--light-color);
  background-color: var(--main-color);
  cursor: pointer;
  z-index: 9999;
  transition: transform 0.3s ease, bottom 0.3s ease;
}
.phone:hover {
  color: var(--light-color);
}
.phone .phone-i {
  width: 25px!important;
  height: auto;
  transition: all 0.5s;
}
.phone:hover i {
  transform: rotate(360deg);
}
@media (max-width: 768px) {
  .phone {
    bottom: 70px;
    left: 20px;
    width: 45px;
    height: 45px;
  }
  .phone i {
  width: 20px;
}
}
@media (max-width: 480px) {
  .phone {
    bottom: 60px;
    left: 15px;
    width: 40px;
    height: 40px;
  }
}
/* #################################################################### */

body[dir="rtl"] .service-card .arrow {
  text-align: left!important;
}
body[dir="rtl"] .services h1 {
  text-align: right!important;
}
body[dir="rtl"] .Portfolio h1 {
  text-align: right!important;
}
body[dir="rtl"] .testimonials-section h1 {
  text-align: right!important;
}
body[dir="rtl"] .testimonials-section{
  direction: ltr;
}
body[dir="rtl"] .click {
  text-align: center!important;
}


/* #################################################################### */
/* #################################################################### */